/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 12, 2022, 2:24:25 PM
    Author     : jessica-m
*/



#dashboard{
    width:65%;
    display: inline-block;
    padding-left: 25px;
}


.dashboard-element{
    display: inline-block;
    border: solid #9d9d9d;
    border-radius: 25% 10%;
    padding: 20px;
    margin: 15px;
    width: 170px;
    height: 85px;
    font-size: 20px;
    text-align: center;
}

#login-area{
    display:inline-block;
    width: 100%;
    padding-top: 1px;
}


#login-container{
    width:70%; 
    display:inline-block;
    padding:0 10% 10% 15%;
    margin-top: 20px;
}

.login{
    margin-top: 40px;
}