<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head xmlns:th="http://www.thymeleaf.org">

<title>PetClinic a Medical Category Flat Bootstrap responsive Website Template | Gallery :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="PetClinic Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="assets/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="assets/css/style.css" rel='stylesheet' type='text/css' />
<script src="assets/js/jquery.min.js"></script>
<!--start-smoth-scrolling-->
<script type="text/javascript" src="assets/js/move-top.js"></script>
<script type="text/javascript" src="assets/js/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
<!--start-smoth-scrolling-->
<!--requried-jsfiles-for-owl-->
		<link href="assets/css/owl.carousel.css" rel="stylesheet">
			<script>
				$(document).ready(function() {
					$("#owl-demo").owlCarousel({
						items : 5,
						lazyLoad : true,
						autoPlay : true,
						pagination : false,
					});
				});
			</script>
			<script src="assets/js/owl.carousel.js"></script>
		<!---//requried-jsfiles-for-owl-->
		<!--script-->
	<script src="assets/js/modernizr.custom.97074.js"></script>
	<script src="assets/js/jquery.chocolat.js"></script>
		<link rel="stylesheet" href="assets/css/chocolat.css" type="text/css" media="screen">
		<!--light-box-files-->
		<script type="text/javascript">
		$(function() {
			$('.g1 a').Chocolat();
		});
		</script>
</head>
<body>	
	<!--header-starts-->
	<div class="header" id="home">
		<div class="container">
			<div class="header-top">
				<div class="col-md-6 header-left">
					<ul>
						<li><p>+1234 526 256 ,</p></li>
						<li><p>+1234 526 256</p></li>
					</ul>
				</div>
				<div class="col-md-6 header-right">
					<ul>
						<li><a href="#"><span class="fb"> </span></a></li>
						<li><a href="#"><span class="twit"> </span></a></li>
						<li><a href="#"><span class="pin"> </span></a></li>
						<li><a href="#"><span class="rss"> </span></a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--header-end-->
	<!--banner-starts-->
	<div class="banner">
		<div class="container">
			<div class="banner-top">
				<div th:replace="navbar :: navbar"></div>
				<div class="col-md-9 banner-right">
					<div class="gallery">
						<div class="gallery-top b-head">
							<h2>Portfolio</h2>
							<p>See the pictures of some of the pets we have helped!</p>
						</div>
						<div class="gallery-bottom">
							<div class="g1">
								<div class="col-md-3 gallery-left">
									<a class="example-image-link mask" href="assets/images/p-2.jpg" data-lightbox="example-set" data-title=""><img class="example-image zoom-img" src="assets/images/p2.jpg" alt=""/></a>
								</div>
								<div class="col-md-3 gallery-left">
									<a class="example-image-link mask" href="assets/images/p-8.jpg" data-lightbox="example-set" data-title=""><img class="example-image zoom-img" src="assets/images/p8.jpg" alt=""/></a>
								</div>
								<div class="col-md-3 gallery-left">
									<a class="example-image-link mask" href="assets/images/p-1.jpg" data-lightbox="example-set" data-title=""><img class="example-image zoom-img" src="assets/images/p1.jpg" alt=""/></a>
								</div>
								<div class="col-md-3 gallery-left">
									<a class="example-image-link mask" href="assets/images/p-7.jpg" data-lightbox="example-set" data-title=""><img class="example-image  zoom-img" src="assets/images/p7.jpg" alt=""/></a>
								</div>
								<div class="clearfix"></div>								
							</div>
							<div class="g1 g2">
								<div class="col-md-3 gallery-left">
									<a class="example-image-link mask" href="assets/images/p-6.jpg" data-lightbox="example-set" data-title=""><img class="example-image zoom-img" src="assets/images/p6.jpg" alt=""/></a>
								</div>
								<div class="col-md-3 gallery-left">
									<a class="example-image-link  mask" href="assets/images/p-3.jpg" data-lightbox="example-set" data-title=""><img class="example-image  zoom-img" src="assets/images/p3.jpg" alt=""/></a>
								</div>
								<div class="col-md-3 gallery-left">
									<a class="example-image-link  mask" href="assets/images/p-5.jpg" data-lightbox="example-set" data-title=""><img class="example-image  zoom-img" src="assets/images/p5.jpg" alt=""/></a>
								</div>
								<div class="col-md-3 gallery-left">
									<a class="example-image-link  mask" href="assets/images/p-4.jpg" data-lightbox="example-set" data-title=""><img class="example-image  zoom-img" src="assets/images/p4.jpg" alt=""/></a>
								</div>
								<div class="clearfix"></div>								
							</div>
						</div>
					</div>
					<div class="companion">
						<div class="b-head">
							<h3>Our Companion</h3>
						</div>							
						<div class="gallery-cursual">		
							<div id="owl-demo" class="owl-carousel text-center">
								<div class="item g1 popup-with-zoom-anim">									
									<a class="example-image-link lazyOwl" href="assets/images/g-1.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="assets/images/g1.jpg" alt=""/></a>
								</div>
								<div class="item g1 popup-with-zoom-anim">
									<a class="example-image-link lazyOwl" href="assets/images/g-2.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="assets/images/g2.jpg" alt=""/></a>
								</div>
								<div class="item g1 popup-with-zoom-anim">
									<a class="example-image-link lazyOwl" href="assets/images/g-4.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="assets/images/g4.jpg" alt=""/></a>
								</div>
								<div class="item g1 popup-with-zoom-anim">
									<a class="example-image-link lazyOwl" href="assets/images/g-5.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="assets/images/g5.jpg" alt=""/></a>
								</div>
								<div class="item g1 popup-with-zoom-anim">
									<a class="example-image-link lazyOwl" href="assets/images/g-6.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="assets/images/g6.jpg" alt=""/></a>
								</div>
								<div class="item g1 popup-with-zoom-anim">
									<a class="example-image-link lazyOwl" href="assets/images/g-7.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="assets/images/g7.jpg" alt=""/></a>							
								</div>
								<div class="item g1 popup-with-zoom-anim">									
									<a class="example-image-link lazyOwl" href="assets/images/g-1.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="assets/images/g1.jpg" alt=""/></a>
								</div>
								<div class="item g1 popup-with-zoom-anim">
									<a class="example-image-link lazyOwl" href="assets/images/g-2.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="assets/images/g2.jpg" alt=""/></a>
								</div>
								<div class="item g1 popup-with-zoom-anim">
									<a class="example-image-link lazyOwl" href="assets/images/g-4.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="assets/images/g4.jpg" alt=""/></a>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--banner-starts-->
	<!--script-for-menu-->
		<script>
			$("span.menu").click(function(){
				$(" ul.navig").slideToggle("slow" , function(){
				});
			});
		</script>
	<!--script-for-menu-->
	<!--footer-starts-->
	<div th:replace="footer :: footer">...</div>
	<!--footer-end-->	
</body>
</html>