<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>PetClinic a Medical Category Flat Bootstrap responsive Website Template | Services :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="PetClinic Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="assets/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="assets/css/style.css" rel='stylesheet' type='text/css' />
<script src="assets/js/jquery.min.js"></script>
<!--start-smoth-scrolling-->
<script type="text/javascript" src="assets/js/move-top.js"></script>
<script type="text/javascript" src="assets/js/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
<!--start-smoth-scrolling-->
<!--requried-jsfiles-for-owl-->
		<link href="assets/css/owl.carousel.css" rel="stylesheet">
			<script>
				$(document).ready(function() {
					$("#owl-demo").owlCarousel({
						items : 5,
						lazyLoad : true,
						autoPlay : true,
						pagination : false,
					});
				});
			</script>
			<script src="assets/js/owl.carousel.js"></script>
		<!---//requried-jsfiles-for-owl-->
		<!--script-->
	<script src="assets/js/modernizr.custom.97074.js"></script>
	<script src="assets/js/jquery.chocolat.js"></script>
		<link rel="stylesheet" href="assets/css/chocolat.css" type="text/css" media="screen">
		<!--light-box-files-->
		<script type="text/javascript">
		$(function() {
			$('.g1 a').Chocolat();
		});
		</script>
</head>
<body>	
	<!--header-starts-->
	<div class="header" id="home">
		<div class="container">
			<div class="header-top">
				<div class="col-md-6 header-left">
					<ul>
						<li><p>+1234 526 256 ,</p></li>
						<li><p>+1234 526 256</p></li>
					</ul>
				</div>
				<div class="col-md-6 header-right">
					<ul>
						<li><a href="#"><span class="fb"> </span></a></li>
						<li><a href="#"><span class="twit"> </span></a></li>
						<li><a href="#"><span class="pin"> </span></a></li>
						<li><a href="#"><span class="rss"> </span></a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--header-end-->
	<!--banner-starts-->
	<div class="banner">
		<div class="container">
			<div class="banner-top">
                                <div th:replace="navbar :: navbar"></div>
				
				<div class="col-md-9 banner-right">
					<div class="services">
						<div class="services-top b-head">
							<h2>Our Services</h2>
                                                        <p>This is a list of the most common services we offer.<br>
                                                        But if the one you are looking for is not listed, feel free to contact us!</p>
						</div>
						<div class="services-bottom">
							<div class="col-md-6 services-left">
								<div class="sr-one">
									<div class="sr-left">
										<a href="single.html"><h4>Fractures and dislocations</h4></a>
										<p>We have all the equipment needed for these traumatic events.</p>
									</div>
									<div class="sr-right">
										<h3>01</h3>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="sr-one sr-two">
									<div class="sr-left">
										<a href="single.html"><h4>Sterilization</h4></a>
										<p>An important procedure for cats and dogs.</p>
									</div>
									<div class="sr-right">
										<h3>03</h3>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="col-md-6 services-left">
								<div class="sr-one">
									<div class="s-left">
										<h3>02</h3>
									</div>
									<div class="s-right">
										<a href="single.html"><h4>Vaccination</h4></a>
										<p>Everything to protect your pet!</p>
									</div>
									<div class="clearfix"></div>
								</div>
                                                                <!--
								<div class="sr-one sr-two">
									<div class="s-left">
										<h3>04</h3>
									</div>
									<div class="s-right">
										<a href="single.html"><h4>Pellentesque mollis malesuada</h4></a>
										<p>Nulla et finibus libero. Suspendisse vitae ex facilisis, ultricies est sed, porta ante.</p>
									</div>
									<div class="clearfix"></div>
								</div>
                                                                -->
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="main">
						<div class="col-md-4 main-left">
							<div class="list">
								<div class="list-top">
									<h3>Services  List</h3>
									<p></p>
								</div>
								<ul>
									<li><a href="#"><span>></span> Service 1</a></li>
									<li><a href="#"><span>></span> Service 2</a></li>
									<li><a href="#"><span>></span>Service 3</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-8 main-right">						
								<h3>Main Services</h3>
							<div class="main-one">
								<a href="single.html"><h4>.</h4></a>
								<div class="m-1">
									<div class="col-md-6 m-left">
										<a href="single.html"><img src="images/m-2.jpg" alt="" /></a>
									</div>
									<div class="col-md-6 m-left">
										<p>Quisque rutrum, tellus euismod rutrum fringilla, dolor mi tempus odio, at tincidunt metus libero nec orci. Aenean scelerisque sed quam in vestibulum.</p>
									</div>
									<div class="clearfix"></div>
								</div>								
							</div>
							<div class="main-one main-two">
								<a href="single.html"><h4>Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.</h4></a>
								<div class="m-1">
									<div class="col-md-6 m-left">
										<a href="single.html"><img src="assets/images/m-3.jpg" alt="" /></a>
									</div>
									<div class="col-md-6 m-left">
										<p>Quisque rutrum, tellus euismod rutrum fringilla, dolor mi tempus odio, at tincidunt metus libero nec orci. Aenean scelerisque sed quam in vestibulum.</p>
									</div>
									<div class="clearfix"></div>
								</div>								
							</div>
						</div>
						<div class="clearfix"></div>						
					</div>
					<div class="companion">
						<div class="b-head">
							<h3>Our Companion</h3>
						</div>							
						<div class="gallery-cursual">		
							<div id="owl-demo" class="owl-carousel text-center">
								<div class="item g1 popup-with-zoom-anim">									
									<a class="example-image-link lazyOwl" href="images/g-1.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="images/g1.jpg" alt=""/></a>
								</div>
								<div class="item g1 popup-with-zoom-anim">
									<a class="example-image-link lazyOwl" href="images/g-2.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="images/g2.jpg" alt=""/></a>
								</div>
								<div class="item g1 popup-with-zoom-anim">
									<a class="example-image-link lazyOwl" href="images/g-4.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="images/g4.jpg" alt=""/></a>
								</div>
								<div class="item g1 popup-with-zoom-anim">
									<a class="example-image-link lazyOwl" href="images/g-5.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="images/g5.jpg" alt=""/></a>
								</div>
								<div class="item g1 popup-with-zoom-anim">
									<a class="example-image-link lazyOwl" href="images/g-6.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="images/g6.jpg" alt=""/></a>
								</div>
								<div class="item g1 popup-with-zoom-anim">
									<a class="example-image-link lazyOwl" href="images/g-7.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="images/g7.jpg" alt=""/></a>							
								</div>
								<div class="item g1 popup-with-zoom-anim">									
									<a class="example-image-link lazyOwl" href="images/g-1.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="images/g1.jpg" alt=""/></a>
								</div>
								<div class="item g1 popup-with-zoom-anim">
									<a class="example-image-link lazyOwl" href="images/g-2.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="images/g2.jpg" alt=""/></a>
								</div>
								<div class="item g1 popup-with-zoom-anim">
									<a class="example-image-link lazyOwl" href="images/g-4.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="images/g4.jpg" alt=""/></a>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--banner-starts-->
	<!--script-for-menu-->
		<script>
			$("span.menu").click(function(){
				$(" ul.navig").slideToggle("slow" , function(){
				});
			});
		</script>
	<!--script-for-menu-->
	<!--footer-starts-->
	<div th:replace="footer :: footer">...</div>
	<!--footer-end-->	
</body>
</html>